<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../public/css/output.css">
</head>
<body class="bg-zinc-100">
    <div class="sm:w-full sm:block md:hidden bg-orange-400 h-40 overflow-hidden">
        <img class="w-full object-cover mx-auto" src="https://plus.unsplash.com/premium_photo-1667339610013-020844b87990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
    </div>
    <header class="grid grid-cols-3 mt-10 w-[80%] mx-auto">
        <!-- DESKRIPSI -->
        <div class="sm:col-span-3 md:col-span-2 ">
            <h4 class="mb-1 w-[400px]">DIMAS AULIA FACHRUDIN</h4> 
            <p class="font-normal mb-16 bg-red-700 w-[400px] text-amber-50 ps-2">Stories After Hours</p>
            
            <h5>Tentang Saya</h5> 
            <p class="font-light w-[400px]">
                Lahir dan besar di Sukamara, Kalimantan Tengah 24 tahun yang lalu.
                Punya mimpi dan cita-cita menjadi photographer saat SMA. 
                Sekarang bekerja <span class="italic">nine to five</span> sebagai programmer.

            </p>
        </div>

        <!-- IMAGE -->
         <div class="sm:col-span-3 md:col-span-1 hidden sm:hidden md:block">
            <img class="w-[80%] mx-auto" src="https://plus.unsplash.com/premium_photo-1667339610013-020844b87990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
         </div>
    </header>

    <main class="mt-10 bg-red w-[80%] mx-auto">
        <!-- NAV -->
        <section>
            <nav class="flex flex-nowrap overflow-x-auto gap-x-10 border-b-2 border-b-gray-400 pb-4 scrollbar-hidden">
                <p class="pointer flex-shrink-0 font-bold">All Article</p>
                <p class="pointer flex-shrink-0">Daily</p>
                <p class="pointer flex-shrink-0">Street</p>
                <p class="pointer flex-shrink-0">Story</p>
                <p class="pointer flex-shrink-0">Story</p>
                <p class="pointer flex-shrink-0">Story</p>
                <p class="pointer flex-shrink-0">Story</p>
                <p class="pointer flex-shrink-0">Story</p>
            </nav>
        </section>
        
        <!-- ARTICLE -->
        <section class="grid mt-4 " id="masonry-container">
            <!-- Kolom 1 -->
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <img class="grid-item h-auto" src="https://plus.unsplash.com/premium_photo-1667339610013-020844b87990?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1731978009374-2fbe83ef3af7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1731973453382-647c28c8ba1b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D" alt="">

          
            <!-- Kolom 2 -->
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1731929464035-1ba6df40565f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0fHx8ZW58MHx8fHx8" alt="">
            <img class="grid-item h-auto" src="https://plus.unsplash.com/premium_photo-1731860729763-0d840e56fcd6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1732008209481-3f5eed6b4ab5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D" alt="">
          
            <!-- Kolom 3 -->
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1732045133230-1a670eef8620?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0MHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <img class="grid-item h-auto" src="https://plus.unsplash.com/premium_photo-1731959001643-d7cccd81304b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzN3x8fGVufDB8fHx8fA%3D%3D" alt="">
            <img class="grid-item h-auto" src="https://images.unsplash.com/photo-1732045133230-1a670eef8620?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0MHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </section>
          
        <!-- FOOTER -->
    </main>

    <footer class="mt-56 mb-10 border-t-2 w-[80%] mx-auto pt-4">
        <h5>dimasaulia.com</h5>
    </footer>
</body>

<script src="/public/js/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
<script>
    function distributeItems(items, containers) {
        items.forEach((item, index) => {
            const containerIndex = index % containers.length; // Alternate between containers
            containers[containerIndex].appendChild(item);
        });
    }


    const elem = document.getElementById('masonry-container')
    var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        initLayout: false,
        gutter: 10,
        // horizontalOrder: true
    });

    imagesLoaded( document.getElementById('masonry-container'), function( instance ) {
        msnry.layout();
    });

</script>
</html>