@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-slate-950 font-playfair my-0;
}

h1 {
    @apply text-4xl
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}

h5 {
    @apply text-lg
}

h6 {
    @apply text-base
}

p, a, div, ol, ul {
    @apply font-montserrat text-zinc-900 text-base my-0;
}

a {
    @apply text-blue-700 font-semibold underline cursor-pointer hover:text-blue-400
}

ol li {
    @apply list-decimal list-inside font-semibold
}

ul li {
    @apply list-disc list-inside font-semibold
}

ol ol, ul ul, ol ul, ul ol {
    @apply ml-6;
}

ol li::marker, ul li::marker {
    @apply text-red-700;
}

code {
    @apply bg-zinc-200 py-1 px-2;
}

img {
    @apply w-full rounded-md
}

table, tr, td, th {
    @apply border-2 border-collapse border-slate-950 px-4
}

table {
    @apply my-4 font-montserrat
}

thead {
    @apply bg-gray-300 text-slate-900
}

hr {
    @apply border-slate-700 border-b
}

blockquote {
    @apply bg-gray-200 ps-6 py-2 pe-2 border-s-4 border-slate-800
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;    /* Firefox */
}

.grid-sizer, .grid-item {
    /* width: 31.333%;
    height: auto;
    float: left;
    margin: 5px; */
    @apply w-[100%] sm:w-[45%] md:w-[47%] lg:w-[30%] xl:w-[22%] h-auto float-left mb-[20px]
}

.gutter-sizer { width: 20px; }

nav > .active {
    @apply font-bold text-red-700
}